<%= form_for @post, :url => { :action => "create"} do |f| %>
  <div class="form-group">
    <%= f.label :contact, 'Enter Contact Info' %><br />
    <%= f.text_field :contact, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :p_ref_fee, 'Referral Fee' %><br />
    <%= f.text_field :p_ref_fee, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :ratio_me, 'How much will you keep?' %><br />
    <%= f.text_field :ratio_me, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :exp_date, 'Expiration Date (MM/DD/YYYY)' %><br />
    <%= f.text_field :exp_date, class: "form-control" %><br />
  </div>
  <div class="form-group">
    <%= f.submit "Save", class: "btn btn-block btn-success" %>
  </div>
<% end %>
