<h1>Posts</h1>

<% if signed_in? %>
<td><%= link_to 'New', new_apartment_post_path(@apartment, current_user.id) %></td>
<% end %>
<tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.contact %></td>
        <td><%= link_to 'Edit', edit_apartment_post_path(@apartment, current_user.id, post.id) %></td>
        <td><%= link_to 'Destroy', apartment_post_path(@apartment, post.user, post.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

<%=console%>
