<!DOCTYPE html>
<html>
  <head>
    <title>Project3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="jumbotron">
      <div class="log pull-right">
        <span id="sign"><%= link_to('Home', apartments_path, :class => "link") %></span>
        <%- if user_signed_in? %>
          <span id="sign"><%= link_to('Logout', destroy_user_session_path, :class => "link", :method => :delete) %> </span>
        <% else %>
          <span id="sign"><%= link_to('Log In', new_user_session_path, :class => "link") %></span>
          <span id="sign"><%= link_to('Sign Up', new_user_registration_path, :class => "link") %></span>
        <% end %>
      </div>
    <div class="display-3"> Referral </div>

      <%= form_tag apartments_path, :method => 'get', class: "search-tag" do %>
        <!-- pass the search parameter as a value into text field. second field is whatever goes into text field -->
        <%= text_field_tag :search, params[:search], placeholder: "Search your apartment", class: "text-tag" %>
        <%= submit_tag "Search", class: "submit-tag" %>
      <% end %>

  </div>
    <%= notice %>
    <%= alert %>

    <%= yield %>
  </body>
</html>


<!-- <%- if user_signed_in? %>
<strong><%= link_to('Logout', destroy_user_session_path, :method => :delete) %> </strong>
<% else %>
<h2>Sign up</h2>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
<%= devise_error_messages! %>

<div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password %></div>

    <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %></div>

      <div><%= f.submit "Sign up" %></div>
      <% end %>

      <%= render "devise/shared/links" %>
      <% end %> -->
